

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
    color: steelblue;
}

.container {
    margin: 0 auto;
    width: 100%
}

.chart {
    margin: 40px;
    text-align: center;
}

.chart svg {
    background-color: rgb(250, 250, 250);  
}

.bar{
    fill: steelblue;

}

.bar:hover, .pattern:hover  {
    fill:pink
}

.title-head{
    margin: 5px;
    position: relative;
}

.tool-tip {
    visibility: hidden;
    width: 150px;
    height: fit-content;
    position: absolute;
    color: steelblue;
    padding: 10px;
    text-align: center;
    box-shadow:  0 5px 15px #00000033;
    background-color: white;
    border-radius: 10px;
}

#t-01 {
    top: 100px;
    left: 550px;
}

#t-02 {
    top: 80px;
    right: 400px; 
}

#t-03 {
    top: 320px;
    right: 220px;
}
